<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/stylesheets/main.css" | relative_url }}" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

  </head>

  <body>

    {% include header.html %}

    <div>
      {{ content }}
    </div>

    {% include footer.html %}

    {% include analytics.html %}

    <script src="{{ "/assets/javascripts/jquery.min.js" | relative_url }}"></script>
    <script src="{{ "/assets/javascripts/bootstrap.min.js" | relative_url }}"></script>
  </body>
</html>
